html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
  border: 2px solid #4CAF50;
  background-color: #fff;
  margin-top: 0.2em;
  cursor: pointer;
  transition: box-shadow 0.2s, border-color 0.2s;
  box-shadow: 0 0 0 0.1rem rgba(76, 175, 80, 0.25);
}

.form-check-input:checked {
  background-color: #4CAF50;
  border-color: #388E3C;
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.35);
}

.form-check-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
}